.about {
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;

        @media screen and (max-width: 900px){
        justify-content: center;
        align-items: center;
        text-align: justify;
        text-justify: inter-word;
        background-color: red($color: #b26c6c);
        padding-top: 20px;
        padding-left: 40px;
        }
    
    
    @media screen and (min-width: 1200px) {
        max-width: 1000px;
        margin: 50px auto 60px auto;
        justify-content: center;
        align-items: center;
        text-align: justify;
        text-justify: inter-word;
    }
    h3 {
        font-family: var(--subheader);
        @media screen and (min-width: 1200px) {
            font-size: 20px;
            text-align: center;
            background-color: #1274b24d;
            width: 120px;
            font-weight: bolder;

        @media screen and (max-width: 900px){
                justify-content: center;
                align-items: center;
                text-align: justify;
                text-justify: inter-word;
                }
        }
    }
    p {
       width: 240px;
       @media screen and (min-width: 1200px) {
        width: 755px;
        align-items: center;
        background-color: #1274b24d;
        @media screen and (max-width: 900px){
            justify-content: center;
            align-items: center;
            text-align: justify;
            text-justify: inter-word;
            }
        
    }
    }
    
}

